.box {
  width: 100px;
  font-size:64px;
  padding: 25px;
  border: 5px solid black;
}

.p1box {
  font-size: 32px;
  padding: 15px;
  border: 5px solid blue;
}

.p2box {
  font-size: 32px;
  padding: 15px;
  border: 5px solid red;
}

h1 {
  margin: auto;
  width:fit-content;
  margin-bottom: 30px;
}

.board {
 margin: auto;
 width: 400px;
 float: right;
}

.p2Board {
  float: left;
}
/* 
.p2Board {
  float: right;
} */